---
import '@fontsource-variable/roboto-mono';
import '@fontsource-variable/roboto-condensed';
import Button from './Button.astro'


---

<section class="flex flex-col justify-center items-center h-auto m-5 p-3" data-section="description" id="description">
    <span class="text-copy texto-di font-roboto text-lg rounded-lg p-2">Correo copiado</span>
    <p class="font-roboto text-2xl text-anti-flash-white text-balance text-bold my-1 text-center">Jhostin Avendaño</p>
    <p class="font-roboto text-xl text-[#CAA6DE] ">Desarrollador</p>
    <p class="font-robo-con text-lg text-periwinkle my-2 md:mx-20 lg:mx-28">
        Soy un desarrollador <span class="text-[#F3A32B] font-semibold">Full Stack</span> con sólidos conocimientos en la creación de aplicaciones web y páginas que resuelven necesidades específicas. Me destaco por mi facilidad de adaptación y habilidad para resolver problemas de manera efectiva. Mi capacidad de aprendizaje rápido y eficiente me permite enfrentar nuevos retos con entusiasmo, siempre dispuesto a absorber nuevos conceptos durante el proceso. Estoy comprometido con la excelencia en cada proyecto que emprendo y busco constantemente mejorar mis habilidades técnicas y creativas</p>
    <div class="flex justify-evenly items-center w-full flex-row">        
        <Button click={true}>
            <svg  slot="before" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke='#FFF' stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
            Correo
        </Button>
        <Button click={false} link="https://github.com/JuztADev">
            <svg   width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z" /></svg>
            GitHub
        </Button>
    </div>
    
</section>

<style>
    .text-copy{
        position: absolute;
        background-color: #fff;
        top:-80px;
        transition: transform 0.3s ease 0s;
        z-index: 10;
        
    }
    .active{
        transform: translateY(120px);
    }
    
</style>